# Plantilla de variables de entorno para Docker Compose
# Renombrar a .env en el entorno de despliegue real (VM 161)

# ID del usuario en la VM (para evitar problemas con Docker Rootless)
CURRENT_UID=999
CURRENT_GID=999

# Rutas del orquestador Python
MALWARE_INPUT_DIR=/opt/ioc-extractor/bin_samples
ANALYSIS_OUTPUT_DIR=/opt/ioc-extractor/bin_outputs
YARA_RULES_PATH=/opt/ioc-extractor/yara-rules-full.yar

# Ruta del volcado de memoria de CAPEv2
MEMDUMPS_DIR=/opt/CAPEv2/storage/analyses
