[defaults]
inventory          = /extra2/ioc-deploy/ansible/inventory.ini
remote_tmp         = /tmp/.ansible/tmp
local_tmp          = /extra2/ansible-tmp
fact_caching_path  = /extra2/ansible-cache
log_path           = /extra2/ansible-tmp/ansible.log
interpreter_python = auto_silent

[ssh_connection]
ssh_args    = -i /home/sfoz/.ssh/id_ed25519 -o ControlMaster=auto -o ControlPersist=60s
pipelining  = true
